@font-face {
    font-family: 'BAD_GRUNGE';
    src: url('./assets/fonts/BAD_GRUNGE.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/img/Ground_Tile_01_A.png');
    background-repeat: repeat;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
}

#overlay {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
}

#caption {
    font-size: 72px;
    font-family: 'BAD_GRUNGE';
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    opacity: 0.5;
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 768px;
    background-image: url('./assets/img/map.png');
    border-radius: 20px;
    z-index: 10;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 350px;
    background-image: url('./assets/img/bg.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    z-index: 200;
    border-radius: 4px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.menu div {
    font-family: 'BAD_GRUNGE';
    font-size: 72px;
}

.menu input {
    font-size: 46px;
    font-family: 'BAD_GRUNGE';
    width: 50%;
    color: white;
    background: rgba(0, 0, 0, 0.459);   
    border-radius: 2px;
    padding-left: 10px;
}

.button {
    font-size: 46px;
    font-family: 'BAD_GRUNGE';
    width: 50%;
    color: #6F756F;
    background: rgba(0, 0, 0, 0.459);   
    border-radius: 2px;
    cursor: pointer;
}

#waitingScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    font-family: 'BAD_GRUNGE';
    color: black;
    z-index: 20;
}

.tankImg {
    transition: transform 0.2s ease;
}

.tankImg:hover {
    transform: scale(1.2); 
}

.tankImg.selected {
    transform: scale(1.2); 
  }


@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}
.saving span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.saving span:nth-child(2) {
    animation-delay: .2s;
}
.saving span:nth-child(3) {
    animation-delay: .4s;
}